<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResolverEcuacionCuadratica" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1906/ResolverEcuacionCuadratica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResolverEcuacionCuadratica"
                contract="SREcuacion.IResolverEcuacionCuadratica" name="BasicHttpBinding_IResolverEcuacionCuadratica" />
        </client>
    </system.serviceModel>
</configuration>